doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Diseño y Desarrollo web::Jahaziel Ortiz Barrios::Jaltipan veracruz
		meta(name="description" content="Diseñador de UX y desarrollo de sitios web totalmente adaptables a dispositivos mobiles en Jaltipan, Minatitlan, Coatzacoalcos, Acayucan")
		meta(author="Jahaziel Ortiz Barrios")
		link(rel="icon", type="image/jpg" href="/img/favicon.jpg")
		link(rel="stylesheet", href="./css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")

	body
		<!--include ./nav/template.jade-->

		script(src="./js/bundle.js")